.menuListTitle > li {
    font-size: 12px !important;
    font-family: 'Lucida Grande', sans-serif !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
#_search {
    width: 300px;
}

#_selectRoomList {
    max-width: calc(100% - 24px * 4 - 8px * 2 - 4px - 8px);
}
