.menuListTitle > li {
    font-size: 12px !important;
    font-family: 'Lucida Grande', sans-serif !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
#_search {
    width: 300px;
}
